input[type="text"],
input[type="password"],
input[type="number"] {
  background: none;
  outline: none;
  border-style: none;
  border-bottom: 2px solid $grey;

  @include font-properties($grey, $body-font, $weight: 300);

  transition: 0.2s ease;
}

input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:active,
input[type="password"]:focus,
input[type="number"]:hover,
input[type="number"]:active,
input[type="number"]:focus {
  border-color: $blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
