/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Signika:wght@300;400&display=swap");

$heading-font: "Poppins", "Helvetica Neue", sans-serif;
/* font weight options: 700, 900 */
$body-font: "Signika", "Bahnschrift", sans-serif;
/* font weight options: 300, 400 */

/* colors */
$pink: rgb(255, 20, 142);
$blue: rgb(8, 184, 204);
$grey: rgb(121, 121, 121);
$white: rgb(236, 236, 236);

/* sizes */
$h1: 5vh;
$h2: 4vh;
$h3: 3vh;
$h4: 2.5vh;
$p: 2vh;

/* textboxes */
input[type="text"],
input[type="password"] {
  background: none;
  outline: none;
  border-style: none;
  border-bottom: 2px solid $grey;

  @include font-properties($grey, $body-font, $weight: 300);

  transition: 0.2s ease;
}

input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:active,
input[type="password"]:focus {
  border-color: $blue;
}
