/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&family=Signika:wght@300;400&display=swap");

$heading-font: "Roboto", "Helvetica Neue", sans-serif;
/* font weight options: 700, 900 */
$body-font: "Signika", "Bahnschrift", sans-serif;
/* font weight options: 300, 400 */

/* colors */
$pink: rgb(255, 20, 142);
$blue: rgb(15, 163, 179);
$grey: rgb(133, 133, 133);
$white: rgb(236, 236, 236);

/* sizes */
