/* font */
/* 
heading choices: 
https://fonts.google.com/specimen/Roboto (900)
https://fonts.google.com/specimen/Poppins (700)
*/

/* 
main text choices: 
https://fonts.google.com/specimen/Signika (300/400)
https://fonts.google.com/specimen/Roboto (300)
https://fonts.google.com/specimen/Lato (300/400)
*/

/* font weight options: x, y */

/* colors */
$pink: rgb(255, 20, 142);
$blue: rgb(15, 163, 179);
$grey: rgb(133, 133, 133);
$white: rgb(236, 236, 236);

/* sizes */
