/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&family=Signika:wght@300;400&display=swap");
/* font weight options: 700, 900 */
/* font weight options: 300, 400 */
/* colors */
/* sizes */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  background: none;
  outline: none;
  border-style: none;
  border-bottom: 2px solid #797979;
  color: #797979;
  font-family: "Signika", "Bahnschrift", sans-serif;
  font-weight: 300;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:active,
input[type="password"]:focus,
input[type="number"]:hover,
input[type="number"]:active,
input[type="number"]:focus {
  border-color: #08b8cc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sidebar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 88vh;
  min-width: 20vw;
  background-color: #08b8cc;
  z-index: 5;
}

.sidebar-container .sidebar-item {
  color: white;
  font-family: "Signika", "Bahnschrift", sans-serif;
  font-size: 3vh;
  font-weight: 400;
  text-align: left;
  width: 100%;
  padding: 5% 7%;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.sidebar-container .sidebar-item:hover {
  background-color: #0ea1b2;
}

.hidden {
  display: none;
}

.loginpage-container,
.bank-container,
.budget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ececec;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 12vh;
  min-width: 100vw;
  background-color: white;
  border-top: 1.5vh solid #08b8cc;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  min-width: 100vw;
  background-image: url("../images/loginphoto.png");
  background-size: cover;
  background-position: left bottom;
}

.body-container .form-container {
  min-height: 60vh;
  min-width: 25vw;
  margin-right: 5%;
  background-color: white;
  border-radius: 8%;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.body-container .form-container h1 {
  color: #ff148e;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  font-size: 3vh;
  font-weight: 900;
  text-align: left;
  padding: 8% 7%;
  padding-bottom: 3%;
}

.body-container .form-container .form-group {
  margin-left: 7%;
  margin-bottom: 3%;
}

.body-container .form-container .form-group .form-label {
  color: #797979;
  font-family: "Signika", "Bahnschrift", sans-serif;
  font-size: 2vh;
  font-weight: 400;
  text-align: left;
}

.body-container .form-container .form-group .form-input {
  margin-top: 1%;
  padding: 2%;
  width: 90%;
  font-size: 2.5vh;
}

.body-container .form-container .form-submit {
  min-height: 5vh;
  min-width: 7vw;
  color: white;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  font-size: 2vh;
  font-weight: 700;
  text-align: center;
  margin-top: 3%;
  margin-left: 7%;
  background-color: #ff148e;
  border: none;
  border-radius: 10px;
  padding: 0 1vh;
  text-decoration: none;
  cursor: pointer;
}

.body-container .form-container .form-register {
  width: 20vw;
  margin-left: 7%;
  word-wrap: break-word;
}

.body-container .form-container .form-register p {
  color: #08b8cc;
  font-family: "Signika", "Bahnschrift", sans-serif;
  font-size: 2vh;
  font-weight: 400;
  text-align: left;
  margin-top: 5%;
}

.body-container .form-container .form-register .error {
  color: #ff148e;
  font-size: 2.5vh;
  margin-top: 5%;
}

.body-container .intro-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 50%;
}

.body-container .intro-container h1 {
  color: #08b8cc;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  font-size: 5vh;
  font-weight: 700;
  text-align: left;
}

.body-container .intro-container p {
  color: white;
  font-family: "Signika", "Bahnschrift", sans-serif;
  font-size: 3vh;
  font-weight: 400;
  text-align: left;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 88vh;
  min-width: 100vw;
  background-color: #ececec;
}

.bank-main,
.budget-main {
  min-height: 88vh;
  min-width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bank-main .component-container,
.budget-main .component-container {
  min-height: 100%;
  min-width: 100%;
  margin-top: 1%;
  margin-left: 7%;
  overflow-x: hidden;
}

.bank-main .component-container .component-heading,
.budget-main .component-container .component-heading {
  color: #ff148e;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  font-size: 4vh;
  font-weight: 900;
  text-align: left;
  margin-top: 2%;
}

.bank-main .component-container .component-input-container,
.budget-main .component-container .component-input-container {
  min-height: 100%;
  min-width: 70vw;
  background-color: white;
  margin-top: 1%;
  border-left: 1.5vh solid #ff148e;
}

.bank-main .component-container .component-input-container .component-group,
.budget-main .component-container .component-input-container .component-group {
  padding-top: 2%;
  padding-left: 1%;
}

.bank-main .component-container .component-input-container .component-group .component-label,
.budget-main .component-container .component-input-container .component-group .component-label {
  color: #797979;
  font-family: "Signika", "Bahnschrift", sans-serif;
  font-size: 2vh;
  font-weight: 400;
  text-align: left;
}

.bank-main .component-container .component-input-container .component-group .component-input,
.budget-main .component-container .component-input-container .component-group .component-input {
  margin-bottom: 2%;
  padding: 1%;
  width: 70%;
  font-size: 2.5vh;
}

.bank-main .component-container .component-submit,
.budget-main .component-container .component-submit {
  min-height: 5vh;
  min-width: 7vw;
  color: white;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  font-size: 2vh;
  font-weight: 700;
  text-align: center;
  margin-top: 2%;
  background-color: #ff148e;
  border: none;
  border-radius: 10px;
  padding: 0 1vh;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */