@import "./variables";
@import "./mixins";
@import "./reset";

// log-in page //
.loginpage-container {
  @include flex-properties(column, center, center);
  background-color: $white;
}

.header {
  @include flex-properties(row, space-between, center);
  @include dimension-properties(12vh, 100vw);
  background-color: white;
  border-top: 1.5vh solid $blue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.body-container {
  @include flex-properties(row, space-between, center);
  @include dimension-properties(80vh, 100vw);
  background-image: url("../images/loginphoto.png");
  background-size: cover;
  background-position: left bottom;

  .form-container {
    @include dimension-properties(60vh, 25vw);
    margin-right: 5%;
    background-color: white;
    border-radius: 8%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);

    h1 {
      @include font-properties(
        $color: $pink,
        $family: $heading-font,
        $size: 3vh,
        $weight: 900,
        $align: left
      );
      padding: 5%;
    }

    .form-group {
      margin-left: 5%;
    }
  }
}
