@import "./variables";
@import "./mixins";
@import "./reset";

// parts //
@import "./textbox";
@import "./sidebar";

// log-in page //
.loginpage-container,
.bank-container,
.budget-container {
  @include flex-properties(column, center, center);
  background-color: $white;
}

.header {
  @include flex-properties(row, space-between, center);
  @include dimension-properties(12vh, 100vw);
  background-color: white;
  border-top: 1.5vh solid $blue;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.body-container {
  @include flex-properties(row, space-between, center);
  @include dimension-properties(80vh, 100vw);
  background-image: url("../images/loginphoto.png");
  background-size: cover;
  background-position: left bottom;

  .form-container {
    @include dimension-properties(60vh, 25vw);
    margin-right: 5%;
    background-color: white;
    border-radius: 8%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);

    h1 {
      @include font-properties(
        $color: $pink,
        $family: $heading-font,
        $size: $h3,
        $weight: 900,
        $align: left
      );
      padding: 8% 7%;
      padding-bottom: 3%;
    }

    .form-group {
      margin-left: 7%;
      margin-bottom: 3%;

      .form-label {
        @include font-properties(
          $color: $grey,
          $family: $body-font,
          $size: $p,
          $weight: 400,
          $align: left
        );
      }

      .form-input {
        margin-top: 1%;
        padding: 2%;
        width: 90%;
        font-size: $h4;
      }
    }

    .form-submit {
      @include dimension-properties(5vh, 7vw);
      @include font-properties(
        $color: white,
        $family: $heading-font,
        $size: $p,
        $weight: 700,
        $align: center
      );
      margin-top: 3%;
      margin-left: 7%;
      background-color: $pink;
      border: none;
      border-radius: 10px;
      padding: 0 1vh;
      text-decoration: none;
      cursor: pointer;
    }

    .form-register {
      width: 20vw;
      margin-left: 7%;
      word-wrap: break-word;

      p {
        @include font-properties(
          $color: $blue,
          $family: $body-font,
          $size: $p,
          $weight: 400,
          $align: left
        );
        margin-top: 5%;
      }

      .error {
        color: $pink;
        font-size: $h4;
        margin-top: 5%;
      }
    }
  }

  .intro-container {
    align-self: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 50%;

    h1 {
      @include font-properties(
        $color: $blue,
        $family: $heading-font,
        $size: $h1,
        $weight: 700,
        $align: left
      );
    }

    p {
      @include font-properties(
        $color: white,
        $family: $body-font,
        $size: $h3,
        $weight: 400,
        $align: left
      );
    }
  }
}

// bank page //

.body {
  @include flex-properties(row, flex-start, flex-start);
  @include dimension-properties(88vh, 100vw);
  background-color: $white;
}

.bank-main,
.budget-main {
  @include dimension-properties(88vh, 70vw);
  @include flex-properties(column, flex-start, flex-start);

  .component-container {
    @include dimension-properties(100%, 100%);
    margin-top: 1%;
    margin-left: 7%;
    overflow-x: hidden;

    .component-heading {
      @include font-properties(
        $color: $pink,
        $family: $heading-font,
        $size: $h2,
        $weight: 900,
        $align: left
      );
      margin-top: 2%;
    }

    .component-input-container {
      @include dimension-properties(100%, 70vw);
      background-color: white;
      margin-top: 1%;
      border-left: 1.5vh solid $pink;

      .component-group {
        padding-top: 2%;
        padding-left: 1%;

        .component-label {
          @include font-properties(
            $color: $grey,
            $family: $body-font,
            $size: $p,
            $weight: 400,
            $align: left
          );
        }

        .component-input {
          margin-bottom: 2%;
          padding: 1%;
          width: 70%;
          font-size: $h4;
        }
      }
    }

    .component-submit {
      @include dimension-properties(5vh, 7vw);
      @include font-properties(
        $color: white,
        $family: $heading-font,
        $size: $p,
        $weight: 700,
        $align: center
      );
      margin-top: 2%;
      background-color: $pink;
      border: none;
      border-radius: 10px;
      padding: 0 1vh;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

// components //
